:root
{
    --main-bg-color: #ccc;
    --header-bg-color: #898989;
    --onhover-bg-color: #8d6e6e;

}
html
{
    scroll-behavior: smooth;
}
body
{
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
    font-size: 100%;
    border: none;
    transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -ms-transition: background-color 2s;
    -o-transition: background-color 2s;
}
.developer
{
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.container
{
    min-height: 100vh;
}
header, footer
{
    background-color: var(--header-bg-color);
    padding: 5%;
    font-size: 100%;
    color: #ffffff;

}
#upper
{
    display: flex;
    flex-direction: row;    
}
#lower
{
    margin-top: 1%;
}
#img_txt_holder
{
    width: 70%; 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img_txt_holder figure
{
    width: 50%;
    height :auto;
    padding: 0;
    position: relative;
    left: 20%;
}
#typing
{
    padding: 1%;
    position: relative;
    font-size: 100%;
    left: 20%;
    overflow: hidden;
    border-right: 1px solid #000000;
    animation:blinker 0.5s;
    -webkit-animation:blinker 0.5s;
    animation-iteration-count: 9;
}
#header_mover
{
    position: relative;
    font-size:200%;
    color: #ffffff;
    right: -103%;
    animation-duration: 4s;
    animation-name: typer;
    animation-fill-mode: forwards;
}
.button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 1px solid #e7e1e1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -ms-transition: background-color 2s;
    -o-transition: background-color 2s;
}
.button:hover
{
    background-color: var(--onhover-bg-color);
}
#img_theme_holder
{
    width: 33%;
}
#img_theme_holder button
{
    position: relative;
    left: 95%;
    height: 10%;
    width: 20%;
    padding: 1% 
}
#img_theme_holder button img
{
    width: 60%;
    height: auto;
}
#lower button
{
    width: 7%;
    padding: 1%
}
#lower button img
{
    width: 60%;
}
.container
{
    position: relative;
    border: 1px solid #000000;
}
#sidebar
{
    background-color: var(--header-bg-color);
    min-height: 100vh;
    position: absolute;
    width: 20%;
    left: -21%;
}
footer
{

    border: none;
}
footer span
{
    margin: 0;
    padding: 0;
}
@keyframes blinker
{
    50%
    {
        border-right: none;
    }
    100%
    {
        border-right: 1px solid #000000;
    }
}
@keyframes typer
{
    0%
    {
        right: -100%;
    }
    10%
    {
        right: -91%;
    }
    20%
    {
        right: -85%;
    }
    30%
    {
        right: -79%;
    }
    40%
    {
        right: -73%;
    }
    50%
    {
        right: -50%;
    }
    70%
    {
        right: -30%;
    }
    80%
    {
        right: -25%;
    }
    95%
    {
        right: -10%;
    }
    100%
    {
        right: 0;
    }
}